* {
    font-family: 'Quicksand', sans-serif;
}

.me {
    float: left;
    margin: 20px;
}
.container {
    background-color: peru;
    margin: 20px;
    padding: 30px;
}
.card {
    background-color: peru;
}
.about {
    background-color: peru;    
}

.body {
    background-color: goldenrod;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: goldenrod;
    color: black;
    text-align: center;
  }
